* {
    box-sizing: border-box;
}

.menu {
    float: left;
    width: 20%;
    text-align: center;
}

    .menu a {
        background-color: #BDB76B;
        padding: 8px;
        margin-top: 7px;
        display: block;
        width: 100%;
        color: black;
    }

.gallery {
    float: left;
    width: 60%;
    padding: 0 65px;
}

.right {
    background-color: #8FBC8F;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
}

img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 250px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

div.desc {
    padding: 5px;
    text-align: center;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
        width: 100%;
    }
}